  <volist name="orderData" id="vo">
    <div class="orderItem">
        <h1 class="orderTitle">订单{$vo['id']}</h1>
        <div class="leftAndRightText topMarginTwenty">
            <span class="oneLineShow leftPadding">订单编号：</span>
            <span class="rightAlignment rightMarginTwenty">{$vo['order_id']}</span>
        </div>
        <div class="leftAndRightText topMarginTen">
            <span class="oneLineShow leftPadding">交易时间：</span>
            <span class="rightAlignment rightMarginTwenty">{$vo['pay_time']}</span>
        </div>
        <hr class="separatorLine" size=1 style="margin-top: 12px;">
        <h1 class="totalCount">共<?php echo count($vo['buy_list']) ;?>份</h1>
        <volist name="vo['buy_list']"  id="buy_list">
            <div class="productLine">
                <span class="oneLineShow productName">{$buy_list['name']}</span>
                <span class="oneLineShow productCount">x{$buy_list['num']}</span>
                <span class="rightAlignment productMoney">￥<?php echo $buy_list['price']*$buy_list['num']?></span>
            </div>
        </volist>
        <hr class="separatorLine" size=1 style="margin-top: 8px;">
        <h1 class="rightAlignment" style="font-size: 17px;margin-top: -1px;margin-right: 15px">合计：￥{$vo['price']}</h1>
        <div class="leftAndRightText" style="margin-top: 150px">
            <span class="oneLineShow leftPadding">订单状态：</span>
            <span class="rightAlignment rightMarginTwenty">{$vo['pay_status_cn']}</span>
        </div>
        <div class="leftAndRightText topMarginTwenty">
            <span class="oneLineShow leftPadding">取餐码</span>
            <span class="rightAlignment rightMarginTwenty">{$vo['eating_code']}</span>
        </div>
        <div class="leftAndRightText topMarginTwenty">
            <span class="oneLineShow leftPadding">就餐桌台</span>
            <span class="rightAlignment rightMarginTwenty">{$vo['table_num']}</span>
        </div>
        <div class="leftAndRightText topMarginTwenty">
            <span class="oneLineShow leftPadding">是否取餐</span>
            <span class="rightAlignment rightMarginTwenty">{$vo['order_status_cn']}</span>
        </div>
        <div style="margin-top: 30px" data-id="{$vo['id']}">
            <if condition="$vo['order_status'] eq 1">
                <h1 style="text-align: right;margin-right: 15px;margin-bottom: 10px;font-size: 17px">订单已完成</h1>
                <else />
                <span class="oneLineShow leftPadding" style="font-size: 18px;">订单是否完成：</span>
                <button class="rightAlignment yesBtn">是</button>
            </if>
        </div>
    </div>
</volist>