<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<title>{:C('WEB_TITLE')}</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no">

		<link rel="stylesheet" href="__PUBLIC__/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="__PUBLIC__/css/global.css" media="all">
		<link rel="stylesheet" href="__PUBLIC__/plugins/font-awesome/css/font-awesome.min.css">

	</head>

	<body>
		<div class="layui-layout layui-layout-admin" style="border-bottom: solid 5px #ff7200;">
			<div class="layui-header header header-demo">
				<div class="layui-main">
					<div class="admin-login-box">
						<a class="logo" href="javascript:;">
							<span style="font-size: 24px;"><i class="fa fa-cutlery" data-icon="fa fa-cutlery" aria-hidden="true"></i> {:C('WEB_TITLE')}<small>{:C('WEB_version')}</small></span>
						</a>
						<div class="admin-side-toggle">
							<i class="fa fa-bars" aria-hidden="true"></i>
						</div>
						<div class="admin-side-full">
							<i class="fa fa-life-bouy" aria-hidden="true"></i>
						</div>
					</div>

					<ul class="layui-nav" lay-filter="topside">
						<li class="layui-nav-item">
							<a href="javascript:;" class="admin-header-user">
								<img src="__PUBLIC__/images/default.jpg"/>
								<span>{$Think.session.username}</span>
							</a>
							<dl class="layui-nav-child">
								<dd>
									<a href="javascript:userInfo();"><i class="fa fa-user-circle" aria-hidden="true"></i> 个人信息</a>
								</dd>
								<dd id="lock">
									<a href="javascript:;">
										<i class="fa fa-lock" aria-hidden="true" style="padding-right: 3px;padding-left: 1px;"></i> 锁屏 (Alt+L)
									</a>
								</dd>
								<dd>
									<a href="javascript:logout();"><i class="fa fa-sign-out" aria-hidden="true"></i> 注销</a>
								</dd>
							</dl>
						</li>
					</ul>
					<ul class="layui-nav admin-header-item-mobile">
						<li class="layui-nav-item">
							<a href="javascript:logout();"><i class="fa fa-sign-out" aria-hidden="true"></i> 注销</a>
						</li>
					</ul>

				</div>
			</div>
			<div class="layui-side layui-bg-black" id="admin-side">
				<div class="layui-side-scroll" id="admin-navbar-side" lay-filter="side"></div>
			</div>
			<div class="layui-body" style="bottom: 0;border-left: solid 2px #ff7200;" id="admin-body">
				<div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
					<ul class="layui-tab-title">
						<li class="layui-this">
							<i class="fa fa-dashboard" aria-hidden="true"></i>
							<cite>控制面板</cite>
						</li>
					</ul>
					<div class="layui-tab-content" style="min-height: 150px; padding: 5px 0 0 0;">
						<div class="layui-tab-item layui-show">
							<iframe src="{:U('Main/main')}"></iframe>
						</div>
					</div>
				</div>
			</div>
			<div class="layui-footer footer footer-demo">
				<div class="layui-main">
					<p>Copyright © 富联云（天津）科技有限公司</p>
				</div>
			</div>
			<div class="site-tree-mobile layui-hide">
				<i class="layui-icon">&#xe602;</i>
			</div>
			<div class="site-mobile-shade"></div>
			
			<!--锁屏模板 start-->
			<script type="text/template" id="lockTemp">
				<div class="admin-header-lock">
					<div class="admin-header-lock-img">
						<img src="__PUBLIC__/images/default.jpg"/>
					</div>
					<div class="admin-header-lock-name">{$Think.session.username}</div>
					<input type="password" class="admin-header-lock-input" placeholder="请输入密码解锁..."/>
					<button class="layui-btn layui-btn-small" id="unlock">解锁</button>
				</div>
			</script>
			<!--锁屏模板 end -->
			
			<script type="text/javascript" src="__PUBLIC__/plugins/layui/layui.js"></script>
			<script>			
			var config = {
					"url": "__PUBLIC__",
				};
			var navs = {$navs};
			layui.use('element', function(){
				var element = layui.element;
			  
			  //一些事件监听
			  element.on('tab(demo)', function(data){
				console.log(data);
			  });
			});
			//var siteurl = "/index.php/Home/AuthUser/userInfo.html";
			var siteurl="http://lzb.istiny.cc/index.php/Home/AuthUser/userInfo.html";
			console.log(siteurl);
			</script>
			<script type="text/javascript" src="__PUBLIC__/js/index.js"></script>
		</div>
	</body>

</html>